<html lang="pt-Br"></html>


<div class="card">    
    <p-table #dt [value]="listaClientes" dataKey="id" [responsive]=true editMode="row" [(selection)]="selectedClientes"
    [rowHover]="true" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,25,50,100]" [paginator]="true" 
    currentPageReportTemplate="Mostrando 1 de {totalPages} página(s)" [filterDelay]="0">
        <ng-template pTemplate="caption">           
            <div id='buttonNew'> <button pButton pTooltip="Cadastrar cliente" type="button" icon="pi pi-plus" label="Novo Cliente" class="ui-button-success" (click) = "turnDisplayDialog()" style="width: 3.4cm"></button> </div>
            <div id="titulo"> Clientes </div>            
        </ng-template>
                            
        <ng-template pTemplate="header">
            <tr>
                <th 
                    pSortableColumn="nome" pTooltip="Ordenar por Nome">Nome <p-sortIcon field="nome"></p-sortIcon>
                </th>
                <th 
                    pSortableColumn="cpf" pTooltip="Ordenar por Cpf">CPF <p-sortIcon field="cpf"></p-sortIcon>
                </th>
                <th
                    pSortableColumn="dtNasc" pTooltip="Ordenar por Data de Nascimento">Data de Nascimento <p-sortIcon field="dtNasc"></p-sortIcon>
                </th>
                <th
                    pSortableColumn="endereco" pTooltip="Ordenar por Endereço">Endereço <p-sortIcon field="endereco"></p-sortIcon></th>
                <th 
                    pSortableColumn="telefone" pTooltip="Ordenar por Telefone">Telefone <p-sortIcon field="telefone"></p-sortIcon>
                </th>
                <th 
                    pSortableColumn="email" pTooltip="Ordenar por E-mail">E-mail <p-sortIcon field="email"></p-sortIcon>
                </th>
                <th 
                    pSortableColumn="rg" pTooltip="Ordenar por Rg">RG <p-sortIcon field="rg"></p-sortIcon>
                </th>
                <th style="width: 8rem">Ações</th>
            </tr>
            <tr>
                <th>
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'nome', 'startsWith')" placeholder="Buscar Nome" class="p-column-filter">
                </th>
                <th>
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'cpf', 'startsWith')" placeholder="Buscar Cpf" class="p-column-filter">
                </th>
                <th></th>
                <th></th>
                <th></th>
                <th>
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'rg', 'startsWith')" placeholder="Buscar RG" class="p-column-filter">
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-cliente let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="cliente">
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText pTooltip="Insira o Nome" type="text" [(ngModel)]="cliente.nome" required maxlength="120" [style]="{'width':'100%'}">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{cliente.nome}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <p-inputMask pTooltip="Insira o CPF" mask="999.999.999-99" [(ngModel)]="cliente.cpf" placeholder="000.000.000-00" required [style]="{'width':'100%'}"></p-inputMask>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{cliente.cpf | CPF}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText pTooltip="Insira a Data de Nascimento" type="date" [(ngModel)]="cliente.dtNasc" required [style]="{'width':'100%'}">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{cliente.dtNasc | date: 'dd/MM/yyyy'}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText pTooltip="Insira o Endereço" type="text" [(ngModel)]="cliente.endereco" required maxlength="255" [style]="{'width':'100%'}">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{cliente.endereco}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <p-inputMask pTooltip="Insira o Telefone" mask="+55 99 99999-9999" [(ngModel)]="cliente.telefone" placeholder="+55 000 00000-0000" required [style]="{'width':'100%'}"></p-inputMask>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{cliente.telefone | TEL}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText pTooltip="Insira o E-mail" type="email" [(ngModel)]="cliente.email" required maxlength="255" [style]="{'width':'100%'}">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{cliente.email}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td >
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <p-inputMask pTooltip="Insira o RG" mask="999.999-9" [(ngModel)]="cliente.cpf" placeholder="000.000-0" required size=7 [style]="{'width':'100%'}"></p-inputMask>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{cliente.rg | RG}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td style="text-align:center">
                    <button *ngIf="!editing" pButton pRipple pTooltip="Editar Cliente" type="button" pInitEditableRow icon="pi pi-pencil" style="margin-right: 14px"></button> 
                    <button *ngIf="!editing" pButton pTooltip="Remover Cliente" type="button" icon="pi pi-trash" (click)="turnDisplayRemover(cliente.id)"></button>
                    <button *ngIf="editing" pButton pRipple pTooltip="Confirmar Edição" type="button" pSaveEditableRow icon="pi pi-check" (click)="preencherFormulario(cliente)" style="margin-right: 14px" class="ui-button-rounded ui-button-success"></button>
                    <button *ngIf="editing" pButton pRipple pTooltip="Cancelar Edição" type="button" pCancelEditableRow icon="pi pi-times" (click)="cancelEdit()" class="ui-button-rounded ui-button-danger"></button>
                </td>
            </tr>            
        </ng-template>
        <ng-template pTemplate="summary">
            <div style="text-align: right; font-size: 16px;">
                Total de {{listaClientes ? listaClientes.length : 0 }} cliente(s).
            </div>
        </ng-template>
    </p-table>

    <p-dialog [(visible)]="clienteDialog" header= "Cadastrar Cliente" [responsive]="true" [resizable]="false" [closable]="false">
        <form name="CadastrarCliente" method="post" [formGroup]="formCliente">
            <fieldset>
                <fieldset class="grupo">
                    <div class="campo">
                        <label for="nome">Nome</label>
                        <input pTooltip="Insira o Nome" class="form-control" id="nome" type="text" name="nome" size="28" placeholder="Ex: Lucas Alves de Morais" required minlength="3" maxlength="120" formControlName="nome" pInputText/>
                        
                    </div>
                </fieldset>
                <fieldset class="grupo">
                    <div class="campo">
                        <label for="cpf">CPF</label>
                        <p-inputMask pTooltip="Insira o CPF" slotChar="_" name="cpf" size=14 mask="999.999.999-99" placeholder="000.000.000-00" required formControlName="cpf"></p-inputMask>         
                    </div>
                    <div class="campo">
                        <label for="rg">RG</label>
                        <p-inputMask pTooltip="Insira o RG" slotChar="_" name="rg" size=9 mask="999.999-9" placeholder="000.000-0" required formControlName="rg"></p-inputMask>         
                    </div>
                </fieldset>
                <div class="campo">
                    <label for="email">E-mail</label>
                    <input pTooltip="Insira o E-mail" type="email" name="email" size="28" placeholder="exemplo@exemplo.com" required minlength="7" maxlength="255" formControlName="email" pInputText/> 
                </div>
                <div class="campo">
                    <label for="telefone">Telefone</label>
                    <p-inputMask 
                        pTooltip="Insira o Telefone" 
                        name="telefone" 
                        size=15 
                        mask="+55 99 99999-9999" 
                        placeholder="+55 00 00000-0000" 
                        required
                        formControlName="telefone">
                    </p-inputMask>
                </div>
                <div class="campo">
                    <label for="dtNasc">Data de Nascimento</label>     
                    <input type="date" pTooltip="Insira a Data de Nascimento" name="dtNasc" size="10" formControlName="dtNasc" pInputText>
                </div>
                <div class="campo">
                    <label for="endereco">Endereço</label>
                    <textarea pInputTextarea pTooltip="Insira o Endereço" rows="2" style="width: 6.5cm" id="endereco" name="endereco" formControlName="endereco" [autoResize]="true"></textarea>
                </div>
                <p-footer>
                    <button pButton [disabled]="!formCliente.valid" pTooltip="Confirmar Cadastro" label="Cadastrar" icon="pi pi-check" (click)="salvar()" style="left: 2px;"></button>
                    <button pButton pRipple pTooltip="Cancelar Cadastro" label="Cancelar" icon="pi pi-times" (click)="turnDisplayDialog()" style="left: 35px;"></button>
                </p-footer>     
            </fieldset>
        </form>
    </p-dialog>            

    <p-dialog header="Deseja remover este cliente? " [(visible)]="displayRemover" [resizable]="false">
        <p-footer>
            <button type="button" pButton icon="pi pi-check" (click)="deletar()" label="Sim"></button>
            <button type="button" pButton icon="pi pi-times" (click)="displayRemover=false" label="Não" class="ui-button-secondary"></button>
        </p-footer>
    </p-dialog>
</div>

