#buttonNew{
    width: 0px;
    height: 5px;
}
#titulo {
    color: rgb(233, 234, 234);
    font:  22px arial;    
}
* {
    margin: 0;
    padding: 0;
}

fieldset {
    border: 0;
}

body, input, select, textarea, button {
    font-family: sans-serif;
    font-size: 1em;
}

.grupo:before, .grupo:after {
    content: " ";
    display: table;
}

.grupo:after {
    clear: both;
}

.campo {
    margin-bottom: 1em;
}

.campo label {
    margin-bottom: 0.2em;
    color: #666;
    display: block;
}

fieldset.grupo .campo {
    float:  left;
    margin-right: 1em;
}

.campo input[type="text"],
.campo input[type="email"],
.campo input[type="tel"],
.campo input[type="number"],
.campo input[type="date"],
.campo select,
.campo textarea {
    padding: 0.2em;
    border: 1px solid #CCC;
    box-shadow: 1px 1px 1px rgba(117, 117, 117, 0.2);
    display: block;
}

.campo select option {
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: rgba(223, 223, 223, 0.449);
}

.tabela {
    margin: 50em;
}

.tabelaAlinhamento{
    text-align: center;
}

#titulo {
    color: rgb(233, 234, 234);
    font:  22px arial;    
}

#buttonNew{
    width: 0px;
    height: 5px;
}


td
{
    word-wrap: break-word;
    max-width: 100%;
    -webkit-hyphens: auto; 
    -moz-hyphens: auto;
    -ms-hyphens: auto; 
    hyphens: auto;
}