<div class="card">    
    <p-table #dt [value]="listaSalas" dataKey="id" [responsive]=true editMode="row" [(selection)]="selectedSala"
    [rowHover]="true" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,25,50,100]" [paginator]="true" 
    currentPageReportTemplate="Mostrando 1 de {totalPages} página(s)" [filterDelay]="0">
        <ng-template pTemplate="caption">           
            <div id='buttonNew'> <button pButton type="button" icon="pi pi-plus" label="Novo" class="ui-button-success" (click) = "showForm()"></button> </div>
            <div id="titulo"> Salas </div>            
        </ng-template>
                            
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem"></th>
                <th 
                    style="width: 6rem" 
                    pSortableColumn="id">Id <p-sortIcon field="descricao"></p-sortIcon>
                </th>
                <th 
                    pSortableColumn="descricao">Descrição <p-sortIcon field="descricao"></p-sortIcon>
                </th>
                <th
                    style="width: 12rem"
                    pSortableColumn="capacidadePessoas">Capacidade de Pessoas<p-sortIcon field="capacidadePessoas"></p-sortIcon>
                </th>
                <th 
                    style="width: 8.8rem" 
                    pSortableColumn="idTipoSala">Tipo de Sala <p-sortIcon field="idTipoSala"></p-sortIcon>
                </th>
                
                <th pSortableColumn="precoDiario">Preço por dia<p-sortIcon field="precoDiario"></p-sortIcon></th>
                <th>
                    Equipamentos
                </th>
                <th style="width: 12rem">Ações</th>
            </tr>
            <tr>
                <th>
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th>
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'id', 'startsWith')" placeholder="Buscar ID" class="p-column-filter">
                </th>
                <th>
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'descricao', 'startsWith')" placeholder="Buscar Descrição" class="p-column-filter">
                </th>
                <th>
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'capacidadePessoas', 'startsWith')" placeholder="Buscar Capacidade de Pessoas" class="p-column-filter">
                </th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-sala let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="sala" class="tabelaAlinhamento">
                <td style="text-align:center;"> 
                    <p-tableCheckbox [value]="sala"></p-tableCheckbox>
                </td>
                <td>
                    {{sala.id}}
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="sala.descricao" required maxlength="255" size="25">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{sala.descricao}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="number" [(ngModel)]="sala.capacidadePessoas" required maxlength= "255" size="25">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{sala.capacidadePessoas}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="sala.idTipoSala" required maxlength="255" size="25">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{getTipo(sala.idTipoSala)}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="number" [(ngModel)]="sala.precoDiario" required maxlength= "255" size="25">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{sala.precoDiario | currency : "BRL"}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <button *ngIf="!editing" pButton pRipple type="button" label="Equipamentos" pInitEditableRow icon="pi pi-pencil" style="margin-right: 14px" (click) = "selecionarEquipamentoDialog = true"></button>
                </td>
                <td style="text-align:center">
                    <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" style="margin-right: 14px"></button>                
                    <button *ngIf="!editing" pButton type="button" icon="pi pi-trash" (click)="deletarSala(sala)"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="handleSubmit(sala)" style="margin-right: 14px" class="ui-button-rounded ui-button-success"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="listar()" class="ui-button-rounded ui-button-danger"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div style="text-align: right; font-size: 16px;">
                Total de {{listaSalas ? listaSalas.length : 0 }} sala(s).
            </div>
        </ng-template>
    </p-table>



    <p-dialog [(visible)]="listaSalaDialog" header="Adicionar Sala" >
        <form action="#" method="post">
            <fieldset>
                <fieldset class="grupo">
                    <div class="campo">
                        <label for="capacidadePessoas">Capacidade de Pessoas</label>                
                        <input type="number" id="capacidadePessoas" name="capacidadePessoas" style="width: 10em" min="0">
                    </div>
                    <div class="campo">
                        <label for="precoDiario">Preço diário</label>
                        <input type="number" id="precoDiario" name="precoDiario" style="width: 9em" value="" >                        
                    </div>
                </fieldset>
                <fieldset class="grupo">
                    <div class="campo">
                        <label for="idTipoSala">Tipo de Sala</label>
                        <select id="idTipoSala" name="idTipoSala">
                            <option value="1">Reunião</option>
                            <option value="2">Trabalho</option>
                            <option value="3">Vídeo</option>
                            <option value="4">Palestra</option>
                            <option value="5">Auditório</option>
                        </select>
                    </div>
                </fieldset>
                <div class="campo">
                    <label for="descricao">Descrição</label>
                    <textarea rows="3" style="width: 20em" id="descricao" name="descricao"></textarea>
                </div>
                
                <fieldset class="grupo">
                    <div class="campo">
                        <button pButton type="button" icon="pi pi-plus" label="Adicionar Equipamentos" (click) = "selecionarSalaEquipamentoDialog = true"></button>
                    </div>
                </fieldset>
                <button pButton pRipple label="Cadastrar" icon="pi pi-check" class="p-button-text" (click)="adicionarSala(sala)" style="left: 2px;"></button>
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="showForm()" style="left: 2cm;"></button>
            </fieldset>
        </form>
    </p-dialog>

    <p-dialog [(visible)]="selecionarEquipamentoDialog" >
        <div class="titulodiv">Equipamentos Obrigatórios</div>
        <form>
            <p-table [value]="">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Nome do equipamento</th>
                        <th>Quantidade</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-sala>
                    <tr>
                        <td>{{""}}</td>
                        <td>{{""}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </form>
    </p-dialog>

<p-dialog [(visible)]="selecionarSalaEquipamentoDialog" [style]="{width: '50vw'}">
        <form>
            <div class="titulodiv">Equipamentos</div>
                <p-table [value]="">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Nome do equipamento</th>
                            <th>Quantidade</th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-sala>
                        <tr>
                            <td>{{""}}</td>
                            <td>{{""}}</td>
                            <td></td>
                        </tr>
                    </ng-template>
                </p-table>
        </form>
    </p-dialog>
