<p-toolbar>
    <div class="p-toolbar-group-left">
    </div>
</p-toolbar>



<p-tabView>
    <p-tabPanel leftIcon="pi pi-list" header="Equipamentos">
        <p>
            <p-table #dt [value]="listaEquipamentos" dataKey="id" [responsive]=true editMode="row" [rowHover]="true"
                [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,25,50,100]" [paginator]="true"
                currentPageReportTemplate="Mostrando de {first} a {last} de {totalRecords} equipamentos"
                [filterDelay]="0">


                <ng-template pTemplate="caption">
                    <div id='buttonNew'> <button pButton type="button" icon="pi pi-plus" label="Novo Equipamento"
                            class="ui-button-success" (click)="cadastro=true" style="width: 11rem"></button> </div>
                    <div id="titulo"> Equipamentos </div>
                </ng-template>

                <ng-template pTemplate="header">
                    <tr>

                        <th style="width: 6rem" pSortableColumn="id">Id<p-sortIcon field="id"></p-sortIcon>
                        </th>
                        <th pSortableColumn="nome">Nome<p-sortIcon field="nome"></p-sortIcon>
                        </th>
                        <th style="width: 8.8rem" pSortableColumn="idTipoEquipamento">Tipo<p-sortIcon
                                field="idTipoEquipamento">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="precoDiaria">Preço Diário<p-sortIcon field="precoDiaria"></p-sortIcon>
                        </th>
                        <th style="width: 13rem">Ações</th>
                    </tr>
                    <tr>

                        <th>
                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'id', 'startsWith')"
                                placeholder="Buscar ID" class="p-column-filter">
                        </th>
                        <th>
                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'nome', 'startsWith')"
                                placeholder="Buscar Nome" class="p-column-filter">
                        </th>
                        <th>
                            <input pInputText type="text"
                                (input)="dt.filter($event.target.value, 'getTipo(equipamento.idTipoEquipamento)', 'startsWith')"
                                placeholder="Buscar Tipo" class="p-column-filter">
                        </th>
                        <th>
                            <input pInputText type="text"
                                (input)="dt.filter($event.target.value, 'preco', 'startsWith')"
                                placeholder="Buscar Preço" class="p-column-filter">
                        </th>
                        <th>
                        </th>

                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-equipamento let-editing="editing" let-ri="rowIndex">
                    <tr [pEditableRow]="equipamento">

                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="equipamento.id" required maxlength="120"
                                        size="25">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{equipamento.id}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="equipamento.nome" required
                                        maxlength="255" size="25">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{equipamento.nome}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="preco" [(ngModel)]="equipamento.idTipoEquipamento" required
                                        maxlength="255" size="25">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{getTipo(equipamento.idTipoEquipamento)}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="equipamento.precoDiaria" required minlength="7"
                                        maxlength="7" size="5">
                                </ng-template>
                                <ng-template pTemplate="output">R$
                                    {{equipamento.precoDiaria}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td style="text-align:center">
                            <button *ngIf="!editing" pButton type="button" (click)="showConfirm()" (click)="idDelete=equipamento.id"
                                 icon="pi pi-trash" style="margin-right: 14px"></button>
                            <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                                class="p-button-rounded p-button-text"></button>
                            <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                                (click)="salvar()" (click)="equipamentoModel=equipamento" 
                                class="p-button-rounded p-button-text p-button-success p-mr-2"
                                style="margin-right: 12px"></button>
                            <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
        
                                class="p-button-rounded p-button-text p-button-danger"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">Nenhum equipamento cadastrado.</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div style="text-align: right; font-size: 16px;">
                        Total de {{listaEquipamentos ? listaEquipamentos.length : 0 }} equipamento(s).
                    </div>
                </ng-template>
            </p-table>
        </p>
    </p-tabPanel>

</p-tabView>

<p-dialog [(visible)]="cadastro" header="Adicionar Equipamento">


    <p-toolbar>
        <div class="p-toolbar-group-left" style="text-align:center; font-size: 13px;" >Faça o Cadastro
        </div>
    </p-toolbar>

            <form [formGroup]="formEquipamento">
                <fieldset style="margin-left: 20px; margin-top: 20px;">
                    <fieldset class="grupo">
                        <div class="campo"  style="text-align:center;">
                            <label for="nome">Nome</label>
                            <input type="text" id="nome" name="nome" style="width: 10em" value="" style="text-align:center;">
                            <div *ngIf="!nome.pristine && nome.errors"  class="custom-cadastro">
                                <p *ngIf="nome.errors.required" >
                                  Nome é obrigatório.
                                </p>
                                <p *ngIf="nome.errors.minlength" >
                                  Nome deve ter no mínimo 3 caracters.
                                </p>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="grupo" style="margin-left: 20px; ">
                        <div class="campo">
                            <label for="estado"  style="text-align:center;">Tipo de Equipamento</label>
                            <select name="idTipoEquipamento" id="idTipoEquipamento" style="width: 10em">
                                <option value="">{{getTipo(0)}}</option>
                                <option value="1">{{getTipo(1)}}</option>
                                <option value="2">{{getTipo(2)}}</option>
                                <option value="3">{{getTipo(3)}}</option>
                            </select>
                            <div *ngIf="!tipoEquipamento.pristine && tipoEquipamento.errors">
                                <p *ngIf="tipoEquipamento.errors.required" class="custom-cadastro">
                                  Tipo de Equipamento é obrigatório.
                                </p>
                            </div>
                        </div>
                    </fieldset > 

                    <fieldset class="grupo" style="margin-left: 20px; ">
                        <div class="campo">
                            <label for="precoDiaria" style="text-align:center;">Preço Diário</label>
                            <input  id="precoDiaria" name="precoDiaria" type="text" style="width: 10em" value=""  >
                            <div *ngIf="!precoDiaria.pristine && precoDiaria.errors">
                                <p *ngIf="precoDiaria.errors.required"  class="custom-cadastro">
                                  Preço Diário é obrigatório.
                                </p>
                            </div>
                        </div>
                    </fieldset>

                    
                    <fieldset style="text-align:center;margin-right: 5px;">
                    <button  pButton type="button"  label="Enviar"
                        class="ui-button-success" (click)="salvar()" ></button>
                    </fieldset>

                </fieldset>
            </form>
</p-dialog>



<p-toast position="top-center"  key="c" (onClose)="deleteReject()" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="p-flex p-flex-column" style="flex: 1">
            <div style="text-align:center">
                <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                <h4>{{message.summary}}</h4>
                <p>{{message.detail}}</p>
            </div>
            <div class="p-grid p-fluid">
               
                <div >
                    <button type="button" pButton (click)="deleteConfirm()"  label="Yes" class="ui-button-success"></button>

                    <button  type="button" pButton (click)="deleteReject()" label="No" class="ui-button-danger" ></button >
                </div>
            </div>
        </div>
    </ng-template>
</p-toast>