<div>
    <button pButton type="button" label="Cadastrar Cliente" (click)="direcionarCadastrar()"></button>
</div>
<p-card *ngFor="let cliente of listaClientes" [header]="cliente.nome" class="meu-card" styleClass="p-card-shadow">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam
        deserunt
        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
    </p>
    <p-button label="Editar" icon="pi pi-edit" (click)="direcionarEditarCliente(cliente.id)"></p-button>
</p-card>