<p-toolbar>
    <div class="p-toolbar-group-left">
        <p-button label="New" icon="pi pi-plus"> </p-button>
    </div>
</p-toolbar>
<h5>Addons</h5>
<div class="p-grid p-fluid">
    <div class="p-col-12 p-md-4">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon">Data Inicio<i class="pi pi-user"></i></span>
            <input type="text" pInputText placeholder="Ex: dd/mm/aa">         
        </div>
    </div>
    
    <div class="p-col-12 p-md-4">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon">Data Fim<i class="pi pi-user"></i></span>
            <input type="text" pInputText placeholder="Ex: dd/mm/aa">         
        </div>
    </div>
</div>